cffi==1.11.2
pandas==0.21.0
opencv_python==4.0.0.21
numpy==1.14.2
scipy==1.2.0
pymongo==3.7.2
sacred==0.7.4
thop==0.0.22
tensorflow_gpu==1.8.0
Cython==0.26.1
h5py==2.7.1
matplotlib==2.2.2
torch==1.0.1.post2
easydict==1.7
torchvision==0.2.1
setuptools==39.1.0
ipython==7.4.0
Pillow==5.4.1
pgp==0.0.1
tensorboardX==1.6
tensorflow==1.13.1
PyYAML==5.1
